h1 {
  text-align: center;
}

th {
  text-align: left;
  padding: 20px 15px;
}

td {
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: white;
}

th {
  background-color: #113b92;
  color: white;
}

.tableContainer {
  width: 100%;
}

.widgetAligner {
  display: flex;
  justify-content: center;
}

.widgetContainer {
  background-color: #f7f7f7;
  margin: 20px;
  width: 700px;
}

.widgetHeader {
  /* height: 45px; */
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.linkArrow {
  max-height: 40px;
  display: none;
}

.linkArrowReverse {
  max-height: 40px;
  transform: rotate(180deg);
  display: none;
}

.refreshIcon {
  max-height: 30px;
  transform: rotate(360deg);
}

.bakerloo {
  background-color: #894e24;
  color: white;
}

.central {
  background-color: #dc241f;
  color: white;
}

.circle {
  background-color: #fdce01;
  color: black;
}

.district {
  background-color: #007229;
  color: white;
}

.hammersmith-city {
  background-color: #d799af;
  color: black;
}

.jubilee {
  background-color: #6a7278;
  color: white;
}

.metropolitan {
  background-color: #750f56;
  color: white;
}

.northern {
  background-color: black;
  color: white;
}

.piccadilly {
  background-color: #171aa8;
  color: white;
}

.victoria {
  background-color: #21a0e2;
  color: black;
}

.waterloo-city {
  background-color: #76d0bd;
  color: black;
}

.rotate {
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

/* css for mobile devices */
@media only screen and (max-width: 667px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  .widgetContainer {
    margin: 0px;
  }

  .linkText {
    display: none;
  }

  .linkArrow {
    display: block;
  }

  .linkArrowReverse {
    display: block;
  }
}
