h1 {
  text-align: center;
}

th,
td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: white;
}

th {
  background-color: #113b92;
  color: white;
}

.tableContainer {
  width: 100%;
}

.widgetContainer {
  background-color: #f7f7f7;
  margin: 20px;
}

.widgetHeader {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.bakerloo {
  background-color: #894e24;
  color: white;
}

.central {
  background-color: #dc241f;
  color: white;
}

.circle {
  background-color: #fdce01;
  color: black;
}

.district {
  background-color: #007229;
  color: white;
}

.hammersmith-city {
  background-color: #d799af;
  color: black;
}

.jubilee {
  background-color: #6a7278;
  color: white;
}

.metropolitan {
  background-color: #750f56;
  color: white;
}

.northern {
  background-color: black;
  color: white;
}

.piccadilly {
  background-color: #171aa8;
  color: white;
}

.victoria {
  background-color: #21a0e2;
  color: black;
}

.waterloo-city {
  background-color: #76d0bd;
  color: black;
}
